<div class="col-12 d-flex flex-column justify-content-center">
    <div class="text-center display-1">{{timerService.seconds$ | async | time}}</div>
    <div class="btn" (click)="skip()">Skip</div>
    <ngb-alert [dismissible]="false" [type]="'primary'">
        <strong>Задача:</strong> {{state}} <small>Выполняется № {{tasks[(timerService.completedTask$ | async) - 1].name}}</small>
    </ngb-alert>
    <div class="d-flex justify-content-center">
        <div *ngIf="state === 'FINISH' || !state" class="btn btn-success" (click)="start()">Начать задачу</div>
    </div>
</div>

<div *ngFor="let task of tasks; let i = index;" class="col-12 mb-2">
    <div class="row">
        <div class="col-9">
            {{task.name}}
        </div>
        <div class="col-2">

        </div>
    </div>
</div>
