<div class="container">
    <div class="row mt-5">
        <div class="col-12 d-flex flex-column justify-content-center">
            <div class="text-center display-1">{{timerService.seconds$ | async | time}}</div>
            <ngb-alert [dismissible]="false" [type]="'primary'">
                <strong>Задача:</strong> Разработать сервис томтов
            </ngb-alert>
            <div class="d-flex justify-content-center">
                <div class="btn btn-success" (click)="start()">Начать задачу</div>
                <div class="btn btn-success" (click)="skip()">Skip</div>
            </div>
        </div>
    </div>
</div>
